* {
box-sizing: border-box;
}

body {
    background: rgb(47, 3, 47);
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  width: 80%;
  background: #f1f1f1;
}