* {
  box-sizing: border-box;
}

body {
  background: white;
}

nav{
  color: rgb(13, 55, 77);
  height: 100%;
}
nav a{
  margin-top: 5px;
  margin-left: 25px;
  font-size: 15px;
  font-family: 'Josefin Sans', sans-serif;
}

/*  Map marker */
.input-container input[type=text] {
  padding-top: 10px;
  padding-left:40px;
  font-size: 30px;
  border: 1px solid grey;
  width: 50%;
  background: #f1f1f1;
  font-family: 'Josefin Sans', sans-serif;
  
}
.input-container i {
  margin-left: 7px;
  padding-top: 7px;
  font-size: 20px;
 
}

.input-container {
  position: relative;
  /* padding: px; */
}

header{
  background-color:#196e97;
  height: 50px;
  z-index: 2;
}

#mapMarker {
  position: absolute;
  left: 3;
  top: 5px;
  top: 24px;
  padding-left: 10px;
  color: rgb(47, 52, 58);
}

.jumbotron{
  height: 500px;
  background-image: url(../images/penguinImg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 0;
  z-index: 1;
  background-size: cover;
  background-position: center center;
  margin-bottom:0px;
}

.mainHeading{
  font-size: 100px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight:  bold;
  color: #ffffff; 
  padding: 30px;
  padding-bottom: 5px;
  text-shadow: 10px 5px 10px #414141;
}

.jumbotron input{
  box-shadow: 5px 8px 5px -5px #414141;
}

.btn{
  width: 150px;
  height: 50px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
  display: block;
  margin: 40px auto;
  border: 1px solid #cccccc;
  border-radius:50px;
  background-color: #196e97;
  color: #cccccc;
  box-shadow: 5px 8px 5px -5px #414141;
}

#cities{
  width: 500px;
  height: 40px;
  border-radius: 50px;
  background-color: white;
}


#mapMarker {
  position: fixed;
  top: 282px;
  font-size: 20px;
  color: rgb(47, 52, 58);
}


/* Location and Date Font Size*/
/*.inputInfo {
  font-size: 20px;
}

.date {
padding: 20px;
}*/

.modal-title{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
}

.modalTable{
  padding-top: 5px;
  margin:0 auto;
}

.modalTable img{
  height: 25px;
}

#error {
  padding-top:10px;
  font-size: 15px;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0 auto;
}

#datainsert{
  padding-top:10px;
}

#datainsert p{
  padding-top:10px;
  font-size: 15px;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

.citiesSearchResult{
  padding: 10px;
  margin: 0 auto;
}

.citiesSearchResult td{
padding: 10px;
margin: 0 auto;
}

/* Events and Restaurants Tables*/
table th {
  font-size: 25px;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  padding: 10px;
  font-weight: bolder;
  background-color: #196e97;
  text-align: center;
}

.table-container a img {
  padding: 10px;
}

.table-container td.description{
  padding: 10px;
}

table td {
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
}


footer{
  height:200px;
  background-color: #196e97;
  border-radius: 2px;

}